
/*------------- Global Class tags ---------------- */

.bg-color-red{
    background-color: #df1f08;
    color:#fff;
}

.image-top-padding {
    margin-top: 20px;
}

.bg-color-darkgrey {
    background-color: #333;
    color:#fff;
}

.bg-color-light-grey {
background-color: #cdcbcb;
}

h1,h2,h5 {
    font-family: 'Monoton', cursive;
}

p,body,a,h3,h4,h6 {
    font-family: 'Amaranth', sans-serif;
}

/*------------- /Global Class tags ---------------- */

/*------------- Header + Nav  -global ---------------- */

.navbar-default {
    background-color: #ffffff;
}

#nav-logo {
    height: 50px;
    width: 100px;
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0;
    border: none;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin:0;
    padding: 0;
}


.navbar-nav>li>a {
    text-align: center;
    font-size: 15px;
}

.nav>li>a {
    padding: 5px;
    margin-right: 10px;
}



.fa {
    margin-right: 2px;
    margin-left: 2px;
    color: #df1f08;
}


.container-fluid.main-section {
    padding-right: 0px;
    padding-left: 0px;
}

/*------------- Header&nav media queries -global ---------------- */
@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block!important;
    height: 100px !important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-right {
 padding-top: 3.5vw;
 margin-right: 0px;
 font-size: 18px;
}
#nav-logo {
    height: 100px;
    width: 200px;
}

.navbar-nav>li>a {
    font-size: 18px;
}

}

@media (min-width: 992px) {
.navbar-right {
    padding-top: 2vw;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}
}

/*------------- /Header + Nav  -global ---------------- */


/*------------- Footer -global ---------------- */


footer {
    background-color: #666
}

ul {
list-style-type: none;
}

@media (min-width: 768px) {
ul {
    display: inline-flex;
    list-style-type: none;
    padding-left: 0px;
}
}
 .social-links .fa {
     font-size: 20px;
     color: #fff;
 }
 
 @media (min-width: 768px) {
     
      .social-links .fa {
     font-size: 25px;
     color: #fff;
 }
 }
 
 .trademark{
    text-align: left;
    color: #fff;
}

.trademark .credits {
    font-size: 14px;
}

.social-header {
    color: #fff;
    font-size: 14px;
}

@media (min-width: 992px) {
     .trademark{
            text-align: center;
            color: #fff;
            padding-top: 20px;
        }
        .trademark .credits {
           font-size: 20px;
        }
        .social-header {
        color: #fff;
        font-size: 20px;
        }
}

.social {
    text-align: center;
}

.credits {
    text-align: left;
}

#social-inline li, #social-inline ul , .social-links li, .social-links ul {
    display: inline;
    padding-right: 2px;
}

#social-inline, .social-links {
    padding-left: 0px;
}


/*------------- /Footer -global ---------------- */


/*------------- Hero Image -homepage  ---------------- */

.hero-image {
    height: 60vw;
    background-image:url(../assets/images/monkees.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding:0;
}


.row {
    padding: 0px;
    margin: 0px;
}

.hero-quote {
    color:#fff;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 1px black;
}
.hero-h2{
    background-color: rgba(51, 51, 51, 0.6784313725490196);
}

@media (max-width:370px) {
    
    .hero-image {
    height: 100%;
    }
}

@media (min-width: 768px) { 
    .hero-image {
        height: 500px;
        background-size: cover;
    }
    
     .hero-h2{
        font-size: 30px;
        margin-top: 115px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 150px;
        margin-right: 150px;
}
}

/*------------- /Hero Image -homepage---------------- */


/*------------- CTA section -homepage---------------- */


.cta-section {
    margin-top: 10px;
    margin-bottom: 30px;
}

.cta-section a {
    color:#df1f08;
}

@media (min-width: 768px) {
    
.cta-image {
    height: 300px;
    width: 300px;
}

}


/*------------- /CTA section -homepage---------------- */


/*------------- News & Events section -homepage---------------- */

.news-section {
    background-color: #df1f08;
    color: #fff;
    border-radius: 25px;
}

.news-section a {
    color:#fff;
    text-decoration: underline;
}

.news-section a:hover {
color:#f8e504;
}

.events {
    padding-bottom: 10px;
    border: 2px solid #333;
    padding-top: 10px;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn {
  border-radius: 9px;
  font-family: inherit;
  color: #ffffff;
  background: #df1f08;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  white-space: normal;
}

.btn:hover {
  background: #f8e504;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 2px #666666;
}

@media (min-width: 992px) {
}

/*------------- /News section -homepage ---------------- */

/*------------- Listen Page ---------------- */

.aduio-section {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
     .audio-player {
         margin-top: 5%;
     }   
}


/*------------- Listen Page ---------------- */

/*------------- News Page ---------------- */

.news-list {
     display: inline;
}

.news-last-img {
    margin: 0 auto;
    display: block;
    width: 80%;
}

.tour-dates {
    padding: 20px 0px;
    margin-bottom:10px;
    font-size: 16px;
    padding-bottom: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.news-section-row{
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tour-date-month {
    font-size: 20px;
    margin-left: 13vw;
}

@media (min-width: 768px) {
    .tour-date-month {
        margin-left: auto;
    }
}


/*------------- /News Page ---------------- */


/*------------- About Page ---------------- */

.author-section {
    padding-bottom: 20px;
    padding-top: 20px;
}


@media (min-width: 768px) {
    
.about-post-image-left{
    margin-right: 20px;
}

}


/*------------- /About Page ---------------- */

/*------------- Contact Page ---------------- */

.form-section{
    margin-bottom: 50px;
}

.contact-btn {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.radiobuttons {
    display: grid;
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom: 20px;
}

.radio-inline {
    margin-left: 10px;
}

@media (min-width: 768px) {
.radiobuttons {
    width: 535px;
    margin-left: -145px;
    display: inline-block;
}
}

@media (min-width: 992px) {
.radiobuttons {
    width: 535px;
    margin-left: -70px;
}
}




/*------------- /Contact Page ---------------- */