


/*------------- Header + Nav ---------------- */


#nav-logo {
    height: 50px;
    width: 100px;
    margin: 0;
    padding: 0;
    border-radius: 50%
}

.navbar {
    margin: 0;
    border: none;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin:0;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
}
.navbar-nav>li>a {
    text-align: center;
    font-size: 15px;
}

.nav>li>a {
    padding: 5px;
}



.fa {
    margin-right: 2px;
    margin-left: 2px;
    color: #df1f08;
}

/*------------- Header&nav media queries ---------------- */
@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block!important;
    height: 100px !important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-right {
 padding-top: 3.5vw;
 margin-right: 40px;
 font-size: 18px;
}
#nav-logo {
    height: 100px;
    width: 200px;
}

}

@media (min-width: 992px) {
.navbar-right {
    padding-top: 2vw;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}
}

/*------------- /Header + Nav ---------------- */


/*------------- Footer ---------------- */


footer {
    background-color: #666
}


@media (min-width: 768px) {
ul {
    display: inline-flex;
    list-style-type: none;
    padding-left: 0px;
}
}
 .social-links .fa {
     font-size: 20px;
     color: #fff;
 }
 
 @media (min-width: 768px) {
     
      .social-links .fa {
     font-size: 25px;
     color: #fff;
 }
 }
 
 .trademark{
    text-align: left;
    color: #fff;
}

.trademark .credits {
    font-size: 14px;
}

.social-header {
    color: #fff;
    font-size: 14px;
}

@media (min-width: 992px) {
     .trademark{
            text-align: center;
            color: #fff;
            padding-top: 20px;
        }
        .trademark .credits {
           font-size: 20px;
        }
        .social-header {
        color: #fff;
        font-size: 20px;
        }
}

.social {
    text-align: center;
}

.credits {
    text-align: left;
}

#social-inline li {
    display: inline;
    padding-right: 2px;
}

#social-inline {
    padding-left: 0px;
}
 

/*------------- /Footer ---------------- */


/*------------- Hero Image ---------------- */

.hero-image {
    height: 250px;
    background-image:url(/assets/images/monkees.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding:0;
}

@media (min-width: 768px) { 
    .hero-image {
        height: 500px;
        background-size: cover;
    }
}

.row {
    padding: 0px;
    margin: 0px;
}
